// В этом файле должны быть стили для БЭМ-блока slider, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...

.slider {
    position: relative;

    &__inner {
        position: relative;
        height: 577px;

        @media screen and (max-width: $screen-lg) {
            height: 91vh;
        }
    }

    &__text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-48%, -43%);
        color: #fff;
        font-family: Philosopher-Regular;
        text-transform: uppercase;
        font-size: 9.7vw;
        letter-spacing: 3.5vw;
        z-index: 15;

        @media screen and (min-width: $screen-xl) {
            font-size: 140px;
            letter-spacing: 80px;
        }

        @media screen and (max-width: $screen-lg) {
            display: none;
        }
    }

    &__item {

        position: absolute;
        top: 0;
        left: 0;
        width: 62.5%;
        height: 525px;
        transition: left 1.5s ease-in-out, top 1.5s ease-in-out;

        @media screen and (max-width: $screen-lg) {
            height: 70vh;
        } 

        @media screen and (max-width: $screen-xs) {
            top: 0;
            height: 30vh;
            width: 280px;
            transform: translateX(-60px);
        }

        &-inner {
            position: relative;
            height: 100%;

            @media screen and (max-width: $screen-lg) {
                height: 100%;
            }

            @media screen and (max-width: $screen-xs) {
                overflow: hidden;
            }

            &::before {
                content: "";
                position: absolute;
                display: block;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(247, 230, 17, .8);
            }
        }

        img {
            height: 525px;
            width: 100%;

            @media screen and (max-width: $screen-lg) {
                height: 100%;
            }
        }

        &--active {
            left: 32.8%;
            top: 87px;
            width: 67.2%;
            height: 490px;
            z-index: 10;
            transition: left 1s ease-in-out, top 1s ease-in-out, bottom 1s ease-in-out;

            @media screen and (max-width: $screen-lg) {
                width: 100%;
                height: 80%;
                top: 22%;
                left: 0;
                
            }

            @media screen and (max-width: $screen-xs) {
                width: 558px;
                transform: translateX(-106px);
                height: 70vh;
                top: auto;
                bottom: 0;
            }

            img {
                height: 490px;
                width: 100%;

                @media screen and (max-width: $screen-lg) {
                    height: 100%;
                }
            }

            .slider__item-inner::before {
                @media screen and (max-width: $screen-lg) {
                    background: rgba(247, 230, 17, .6);
                }
            }
        }

        &-rect {
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            bottom: 35px;
            right: 23%;
            width: 16%;
            height: 383px;
            padding-bottom: 19px;
            background: #F7E611;
            z-index: 1;

            @media screen and (max-width: $screen-lg) {
                transform: rotate(45deg);
                bottom: -125px;
                right: -1%;
                width: 115px;
                justify-content: center;
            }

            @media screen and (max-width: 320px) {
                bottom: -145px;
                right: 15%;
            }

            span:nth-of-type(1) {
                position: relative;
                padding-left: 21px;
                font-family: Geometria-HeavyItalic;
                font-size: 45px;
                line-height: 45px;

                @media screen and (max-width: 320px) {
                    padding-left: 0;
                    font-size: 25px;
                }

                &::before {
                    content: "";
                    position: absolute;
                    bottom: 3px;
                    left: 65px;
                    width: 17px;
                    height: 3px;
                    background: #000000;

                    @media screen and (max-width: $screen-lg) {
                        display: none;
                    }
                }

                @media screen and (max-width: $screen-lg) {
                    transform: rotate(-45deg);
                    
                }
            }

            span:nth-of-type(2) {
                font-size: 17px;
                line-height: 17px;
                padding-left: 75px;

                @media screen and (max-width: $screen-lg) {
                    display: none;
                }
            }
        }

        &-circle {
            position: absolute;
            top: 32px;
            left: 10%;
            width: 100px;
            height: 100px;
            border: 1px solid #000000;
            border-radius: 50%;
            font-size: 17px;
            color: #ffffff;
            padding-top: 28px;
            padding-left: 24px;
            
            @media screen and (max-width: $screen-lg) {
                display: none;
            }
        }

        &-number {
            position: absolute;
            left: 17.8%;
            font-family: Geometria-Light;
            font-size: 14px;

            @media screen and (max-width: $screen-xs) {
                display: none;
            }

            &:nth-of-type(1) {
                top: 82px;
            }

            &:nth-of-type(2) {
                top: 162px;
            }
        }

        &-numeral {
            position: absolute;
            right: 36%;
            top: 31px;
            font-family: Geometria-Heavy;
            font-size: 28px;
            opacity: .4;
            transform: rotate(-90deg);

            @media screen and (max-width: $screen-xs) {
                display: none;
            }
        }

        &-testing {
            position: absolute;
            bottom: 89px;
            left: 26%;
            font-family: Philosopher-Italic;
            font-size: 9px;
            transform: rotate(-90deg) translateX(50%);

            @media screen and (max-width: $screen-lg) {
                display: none;
            }
        }
    }

    &__buttons {
        position: absolute;
        width: 16.7%;
        bottom: 153.8px;
        right: 12.45%;
        display: flex;
        justify-content: space-between;
        z-index: 100;

        @media screen and (max-width: $screen-xs) {
            width: 90%;
            right: 0;
            right: 4%;
        }
        
    }

    &__button {
        position: relative;
        background: transparent;
        border: none;
        padding: 0;
        cursor: pointer;

        &-svg {
            width: 20px;
            height: 36px;
            fill: rgba(0, 0, 0, .6);
            pointer-events: fill;
            
            &:hover,
            &:focus {
                fill: rgba(0, 0, 0, 1);
                transition: .3s ease-in;
            }
        }

        &:nth-of-type(1) {
            //margin-right: 175px;
        }
    }

    &__rectangle {
        position: absolute;
        top: 169px;
        left: 21%;
        width: 13.8%;
        height: 288px;
        background-image: url(../img/rectangle.png);
        background-repeat: no-repeat;
        background-size: contain;
        z-index: 10;

        @media screen and (max-width: $screen-lg) {
            transform: scaleX(1) rotate(90deg);
            top: -198px;
            left: auto;
            right: 0;
        }

        @media screen and (max-width: $screen-lg) {
            width: 45%;
            top: -159px;
        }
    }
}


