// В этом файле должны быть стили для БЭМ-блока title, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...


.title {

    position: relative;
    display: flex;
    justify-content: center;
    min-height: 125px;
    transition: .5s;
    overflow: hidden;

    @media screen and (max-width: $screen-lg) {
        min-height: 0;
        height: 0;
    }

    &__letter {
        position: absolute;
        font-family: Philosopher-Bold;
        font-weight: bold;
        text-transform: uppercase;
        color: #000;
        font-size: 25px;
        transition: 2s;

        &--ao {
            bottom: 25px;
            left: 14.6%;
        }

        &--fo {
            bottom: 61px;
            left: 19.7%;
        }

        &--f {
            bottom: 16px;
            left: 24.7%;
        }

        &--i {
            bottom: 44px;
            left: 29.3%;
        }

        &--n {
            bottom: 4px;
            left: 34.5%;
        }

        &--a {
            bottom: 47px;
            right: 32.4%;
        }

        &--g {
            bottom: 39px;
            right: 24.4%;
        }

        &--e {
            bottom: 12px;
            right: 15.9%;
        }
    }

    &__triangle {
        position: absolute;
        width: 22.8px;
        height: 23.2px;
        background-repeat: no-repeat;
        background-size: contain;

        &--full-one {
            top: 18.8px;
            left: 8.7%;
            background-image: url(../img/triangle_full.png);
        }

        &--full-two {
            top: 60.8px;
            right: 10.8%;
            background-image: url(../img/triangle_full.png);
        }

        &--empty-one {
            top: 108.8px;
            left: 29%;
            background-image: url(../img/triangle_empty.png);
        }

        &--empty-two {
            top: 80px;
            right: 29%;
            background-image: url(../img/triangle_empty.png);
        }
    }
}
