// В этом файле должны быть стили для БЭМ-блока link-company, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...


.link-company {

    position: absolute;
    left: 2.4%;
    top: 34.8px;
    cursor: pointer;

    @media screen and (max-width: $screen-lg) {
        left: 20px;
        top: 20px;
    }

    &__svg {
        width: 22.8px;
        height: 23.3px;
        pointer-events: fill;

        &:hover,
        &:focus {
            fill: #F7E611;
            transition: .3s ease-in-out;
        }
    }

}
