// В этом файле должны быть стили для БЭМ-блока logo, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...

.logo {

    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 85px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 15;
    width: 213px;

    @media screen and (max-width: $screen-lg) {
        width: 109px;
    }

    @media screen and (max-width: $screen-lg) {
        bottom: -42px;
    }

    &__border {
        width: 213px;
        height: 10px;
        background-color: #F7E611;
    }

    &__svg {
        width: 213px;
        height: 124px;

        @media screen and (max-width: $screen-lg) {
            width: 109px;
            height: 109px;
        }
    }

}
