// Подключение своих шрифтов.
// Не пишите тут ничего, кроме @font-face

@font-face {
  font-family: "Geometria";
  src: url("../fonts/Geometria.eot");
  src: url("../fonts/Geometria.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Geometria.svg#Geometria") format("svg"), url("../fonts/Geometria.woff") format("woff"),
    url("../fonts/Geometria.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Geometria-Heavy";
  src: url("../fonts/Geometria-Heavy.eot");
  src: url("../fonts/Geometria-Heavy.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Geometria-Heavy.svg#Geometria-Heavy") format("svg"),
    url("../fonts/Geometria-Heavy.woff") format("woff"), url("../fonts/Geometria-Heavy.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Geometria-HeavyItalic";
  src: url("../fonts/Geometria-HeavyItalic.eot");
  src: url("../fonts/Geometria-HeavyItalic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Geometria-HeavyItalic.svg#Geometria-HeavyItalic") format("svg"),
    url("../fonts/Geometria-HeavyItalic.woff") format("woff"),
    url("../fonts/Geometria-HeavyItalic.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Geometria-Light";
  src: url("../fonts/Geometria-Light.eot");
  src: url("../fonts/Geometria-Light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Geometria-Light.svg#Geometria-Light") format("svg"),
    url("../fonts/Geometria-Light.woff") format("woff"), url("../fonts/Geometria-Light.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Geometria-LightItalic";
  src: url("../fonts/Geometria-LightItalic.eot");
  src: url("../fonts/Geometria-LightItalic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Geometria-LightItalic.svg#Geometria-LightItalic") format("svg"),
    url("../fonts/Geometria-LightItalic.woff") format("woff"),
    url("../fonts/Geometria-LightItalic.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Geometria-Medium";
  src: url("../fonts/Geometria-Medium.eot");
  src: url("../fonts/Geometria-Medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Geometria-Medium.svg#Geometria-Medium") format("svg"),
    url("../fonts/Geometria-Medium.woff") format("woff"), url("../fonts/Geometria-Medium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Philosopher-Regular";
  src: url("../fonts/Philosopher-Regular.eot");
  src: url("../fonts/Philosopher-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Philosopher-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Philosopher";
  src: url("../fonts/Philosopher.svg#Philosopher") format("svg"), url("../fonts/Philosopher.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Philosopher-Bold";
  src: url("../fonts/Philosopher-Bold.eot");
  src: url("../fonts/Philosopher-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Philosopher-Bold.svg#Philosopher-Bold") format("svg"),
    url("../fonts/Philosopher-Bold.woff") format("woff"), url("../fonts/Philosopher-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Philosopher-Italic";
  src: url("../fonts/Philosopher-Italic.eot");
  src: url("../fonts/Philosopher-Italic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Philosopher-Italic.svg#Philosopher-Italic") format("svg"),
    url("../fonts/Philosopher-Italic.woff") format("woff"), url("../fonts/Philosopher-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
